@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Introduce_yourself</title>
</head>
<body>
    <!-- Begin page content -->
    <div class="container">
        <div class="page-header">
            <h1>Introduce_yourself</h1>
        </div>
        <p class="lead">카카오톡과 연동하기.</p>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">Introduce_yourself</p>
        </div>
    </footer>
</body>
</html>
    